<h1>Score</h1>

<p>What you got?</p>
<p><%= @result %></p>
<p>Your word: <%= @word %></p>
<p>Your word-length: <%= @length %> letters</p>
<p>Your time: <%= @time.round() %> seconds</p>
<h2>Your score: <%= @score %></h2>

<a href="./new">Play again</a>

